<div id="sidebar"  class="nav-collapse ">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu" id="nav-accordion">
    <p class="centered">
      <a href="profile.html"> <%= image_tag("ui-bender.png", class: 'img-circle', width: '60') %> </a>
    </p>
    <h5 class="centered">Ederson de Lima</h5>

    <li class="mt">
      <a href="index.html">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="sub-menu">
      <a href="javascript:;" >
        <i class="fa fa-desktop"></i>
        <span>UI Elements</span>
      </a>
      <ul class="sub">
        <li><a  href="general.html">General</a></li>
      </ul>
    </li>
  </ul>
  <!-- sidebar menu end-->
</div>

