<div class="col-md-12">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to @device.name, device_path(@device) %></li>
    <li class="active">Configurações</li>
  </ol>
</div>
