<div class="row mt">
  <div class="col-md-12">
    <section class="task-panel tasks-widget">
      <div class="panel-heading">
        <div class="pull-left"><h5><i class="fa fa-tasks"></i> Todo List - Complex Style</h5></div>
        <br>
      </div>
      <div class="panel-body">
        <div class="task-content">
          <ul class="task-list ui-sortable">
            <li class="<%= list_class_random %>">
              <div class="task-title">
                <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                <span class="badge bg-theme">Done</span>
                <div class="pull-right hidden-phone">
                  <a href='#' class="btn btn-success btn-xs  fa fa-check"></a>
                  <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class=" add-task-row">
          <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add New Tasks</a>
          <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
        </div>
      </div>
    </section>
  </div><!-- /col-md-12-->
</div><!-- /row -->
