<div class="row mt">
  <%= render 'device_configurations/shared/breadcrumb' %>
  <%= render 'form' %>
</div>

<%= link_to 'Show', device_device_configuration_path(@device, @device_configuration) %> |
<%= link_to 'Back', device_device_configurations_path(@device_configuration.device) %>
