<div class="row mt">
  <div class="col-md-12">
    <section class="task-panel tasks-widget">
      <div class="panel-heading">
        <div class="pull-left"><h5><i class="fa fa-tasks"></i> Lista de Configurações</h5></div>
        <br>
      </div>
      <div class="panel-body">
        <div class="task-content">
          <ul class="task-list ui-sortable">
            <%= render partial: 'device_configurations/shared/index_items', collection: @device_configurations, as: :config %>
          </ul>
        </div>

        <div class=" add-task-row">
          <%= link_to 'New configuration', new_device_device_configuration_path(@device), class: 'btn btn-success btn-sm pull-left' %>
        </div>
      </div>
    </section>
  </div>
</div>
