<div class="row mt">
  <div class="col-lg-12">
    <div class="row">
      <%= render 'home/boxes/box_temp_local' %>
      <%= render 'home/boxes/box_external_temp' %>
      <%= render 'home/boxes/box_luminosity' %>
      <%= render 'home/boxes/box_sockets' %>
    </div>
  </div>
</div>
