<div class="row mt">
  <div class="col-md-12">
    <section class="task-panel tasks-widget">
      <div class="panel-heading">
        <div class="pull-left"><h5><i class="fa fa-tasks"></i>Atividade</h5></div>
        <br>
      </div>
      <div class="panel-body">
        <div class="task-content">
          <ul class="task-list">
            <li>
              <div class="task-title">
                <b>Trigger: </b>
                <span class="task-title-sp"><%= @activity.trigger.name %></span>
              </div>
            </li>
            <li>
              <div class="task-title">
                <b>Configuração: </b>
                <span class="task-title-sp"><%= @activity.device_configuration.name %></span>
              </div>
            </li>
          </ul>
        </div>

        <div class=" add-task-row">
          <%= link_to 'Edit', edit_activity_path(@activity), class: 'btn btn-success btn-sm pull-left' %>
          <%= link_to 'Back', activities_path, class: 'btn btn-default btn-sm pull-right' %>
        </div>
      </div>
    </section>
  </div>
</div>
